---
import Layout from "../../layouts/Layout.astro";
import penguins from "../../assets/penguins.json";

const speciesList = [...new Set(penguins.map(p => p.species))];
---

<Layout>
  <h1>Liste des espèces</h1>

  <ul>
    {
      speciesList.map(species => (
        <li>
          <a href={`/rendu-dynamique/${species}`}>
            Espèce : {species}
          </a>
        </li>
      ))
    }
  </ul>
</Layout>

<style>
  h1 {
    font-family: sans-serif;
    margin-bottom: 1em;
  }
  ul {
    list-style: none;
    padding: 0;
  }
  li {
    margin: 0.5em 0;
  }
  a {
    color: #0066cc;
    text-decoration: none;
  }
  a:hover {
    text-decoration: underline;
  }
</style>
