---
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>Astro Basics</title>
  </head>
  <body>
 <nav style="background:#333; color:white; padding:10px;">
      <a href="/" style="color:white; margin-right:15px; text-decoration:none;">Accueil</a>
      <a href="/slider" style="color:white; margin-right:15px; text-decoration:none;">Page Slider</a>
      <a href="/rendu-dynamique" style="color:white; text-decoration:none;">Rendu Dynamique</a>
    </nav>


    <slot />
  </body>
</html>

<style>
  html,
  body {
    margin: 0;
    width: 100%;
    height: 100%;
  }

  nav a:hover {
    text-decoration: underline;
  }
</style>
